@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.topbar button{
    /* background-color: #c00 !important; */
    /* background-color: #ECBD00 !important; */
    border: none;
    padding: 6px;
    letter-spacing: 1px;
    color: black;
}
.primary-header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.bg-image{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.828), rgba(0, 0, 0, 0.805)), url('../images/banner02.png');
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-toggler-icon{
    font-size: 14px;
  color: white;
}
.navbar-brand img{
    transform: scale(1.4);
}
.navbar-nav .nav-item{
    padding-left: 20px;
    font-weight: 500;
}
.nav-tabs .nav-item .nav-link{
    color: black !important;
}

.nav-tabs .nav-item button{
    background-color: white !important;
    margin-left: 10px !important;
}
.nav-tabs .nav-item button i{
    font-size: 20px;
    margin-bottom: 10px;
}

.search-engine-card{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: white;
}

.holiday-search{
    position: relative;
   
}

.date-caption{
    padding-left: 2px;
}
.search-icon{
    position: absolute;
    top: 40px;
    right: 20px;
}
.search-icon i{
    font-size: 20px;
    color: #b8b7b7;
}

#searchDestination,#carPickupLocation,#carDropoffLocation,#carPickupDate,#carTripType ,#flightFromCity,#flightToCity,#flightDepartureDate,#flightReturnDate,#passengerDropdown,#hotelSearchCity,#numberOfNights, #checkinDatepicker,#roomGuestsDropdown,#nationalitySelect,#searchCity, #busFromCity, #busToCity, #busJourneyDate{
    font-size: 18px;
    font-weight: bold;

}
#searchCity{
    font-size: 18px;
    font-weight: bold;

}

.fa-location-dot{
    color: #da7500;
}

@media(max-width:768px){
    #searchDestination,#searchButton,#flightSearch,#searchCity, #datepicker, #busFromCity, #busToCity, #busJourneyDate {
    font-size: 17px;
    font-weight: 600;
    padding: 14px !important;
    margin-bottom:6px;
    }
    #searchCity{
        font-size: 17px;
        font-weight: 600;
        padding: 14px !important;
        margin-bottom:6px;
    }
    .date-caption {
        display: none;
    }
    #datepicker {
        font-size: 17px !important;
        font-weight: 600 !important;
        padding: 14px !important;
        margin-bottom:6px;
    }

    .search-icon {
        top: 18px !important;  
    }
    #myTabContent{
        margin-top: -10px !important;
    }
    .tourbuttonsearch{
        padding: 10px !important;
    }
    .search-icon i {
        font-size: 19px !important;
    }
    .holiday-packages {
        padding: 40px 0px !important;
    }
    
    .nav-tabs .nav-item button i{
        font-size: 20px;
        margin-bottom: 0px !important;
    }
    #destinationList {
        width: 92% !important;
    }
    #cityList {
        width: 85% !important;
    }
}

#datepicker{
    font-size: 18px;
    font-weight: bold;
}
#tour-title{
   font-size: 20px !important;
   font-weight: 400 !important;
}
/* #destination::placeholder{
    padding-left: 30px;
   
} */
#destinationList {
    max-height: 150px;   /* Adjust this value as needed */
    overflow-y: auto;    /* Enable vertical scrollbar if content exceeds 5 items */
    display: none;       /* Initially hide the list */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #f0f0f0;
}


.nav-tabs .nav-item button small{
    font-size: 16px;
    font-weight: 600;
}

.nav-tabs .nav-item .active{
    background-color: orange !important;
    color: white !important;
}
/* banner section */
.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.727), rgba(0, 0, 0, 0.709)), url('../img/hero/hero_bg_1_1.jpg');
    height: 450px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

@media(max-width:768px){
    .hero{
        padding: 80px 8px;
        height: auto !important;
    }
    .nav-tabs .nav-item button small {
        font-size: 14px !important;
    }
    #tour-title{
        display: none !important;
    }
    .searchline{
        display: none !important;
    }
    .strip h5{
        font-size: 15px !important;
    }
    .footer {
       
        padding: 20px 0px 20px 0px !important;
    }
    .aboutMobile{
        margin-top:60px;
    }
}

.hero .hero-title p{
    font-size: 33px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: white;
}
.hero .hero-title h1{
    font-family: "Concert One", sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: white;
    margin-top: -30px;
}

@media(max-width:768px){
    .navbar-brand img{
        transform: scale(1.2);
    }
    
     .navbar-brand{padding-left:20px;}
    
    .hero .hero-title h1{
        font-size: 60px;
    }
    .hero .hero-title p{
        font-size: 30px;
    }
    .tripPlan {
        margin-top: 66px !important;
    }
    .tripPlan .trip-descriptions{
        margin-top: 65px !important;

    }
}

.hero .booking{
    background-color: rgba(0, 0, 0, 0.518);
    /* padding: 10px; */
}

.login-section{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.734), rgba(0, 0, 0, 0.671)), url('../img/hero/hero_bg_1_1.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.login-section .card{
    margin-top: 80px !important;
}

.register-section{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.734), rgba(0, 0, 0, 0.671)), url('../img/hero/hero_bg_1_1.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.register-section .card{
    margin-top: 50px !important;
}

.best-places img{
    height: 300px;
    object-fit: cover;
}
.best-places .item {
    position: relative;
    overflow: hidden;
 
}
.best-places .item  img{
    transition: all 0.5s linear;
}
.best-places .item img:hover {
    transform: scale(1.2);
}

.best-places .item .strip{
    position: absolute;
    width: 100%;;
    color: rgb(0, 0, 0);
    left: 0;
    bottom: 10px;
    background-color: rgb(246 246 246 / 82%);
    padding: 10px;
    text-align: center;
}
.tour-places{
    margin-top: 80px !important;
}
.tripPlan{
    margin-top: 100px !important;
    margin-bottom: 80px !important;
}

.img-box3 {
    position: relative;
}

.img-box3 .img1 img {
    border-radius: 24px;  
}

.img-box3 .img2 {
    position: absolute;
    top: 20%;
    right: 12%;

    
}
.movingX{
    animation: movingX 8s linear infinite;
}


@keyframes movingX {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
     }
     100%{
        transform: translateX(0);
     }

}
.img-box3 .img2 img {
    border-radius: 24px;
    border: 5px solid white;
}

@media(max-width:768px){
    .img-box3  img{
        width: 100%;
    }
    .tripPlan .col-xl-5{
        margin-top: 90px;
    }
    .best-places img{
        height: 250px;
    }
    .tour-places h2{
        font-size: 20px !important;
    }
    .tour-places h2 span{
        font-size: 22px !important;
    }
    .tour-places h2 span p{
        font-size: 12px !important;
    }
}

.img-box3 .img2::before{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
}
.tripPlan .title-area .sub-title{
    color: orange;
    font-size: 16px;
    font-size: bold;
}
.tripPlan .title-area .sec-title{
    font-size: 35px;
    font-weight: 700;
}


.about-item.style2 .about-item_img {
    background-color: #e9f6f9;
}

.about-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}
.about-item:not(:last-child) {
    margin-bottom: 20px;
}
.about-item_img img {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.about-item_img {
    min-width: 72px;
    height: 72px;
    line-height: 72px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.about-item_img:hover img {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.box-title {
    font-size: 22px;
    line-height: 1.417;
    font-weight: 500;
    margin-top: -0.32em;
    margin-bottom: 7px;
}
.holiday-packages{
    background: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    
}
.holiday-packages .card{
    border: none !important;
}

.holiday-packages h3{
    font-size: 28px;
    font-weight: 600;
    color: rgb(0, 26, 61);
}

.holiday-packages-swiper .items{
    position: relative;
}

.holiday-packages-swiper .duration{
    position: absolute;
    left: 0;
    bottom: 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.holiday-packages-swiper .duration .duration-days{
    width: 50%;
    background-color: white;
    padding: 8px;
}
.holiday-packages-swiper .duration .features{
    width: 20%;
    background-color: white;
    padding: 8px;
}
.holiday-packages-swiper .duration i{
    font-size: 15px;
    color: rgb(255, 170, 0);
}
.holiday-packages-swiper .desc .title{
    color: black;
    font-size: 18px;
}
.holiday-packages-swiper .desc .sub-title{
    text-transform: uppercase;
}
.holiday-packages-swiper .desc .sub-titles{
    
    font-size: 12px;
    color:black;
    font-weight: bold;
}
.holiday-packages-swiper .desc .price span:first-child{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -15px;
    /* color: orange; */
}

@media(max-width:768px){
.booking button{
    width: 100%;
    font-size: 13px !important;
   }

   .booknow{
    margin: 0px !important;
   }


   .packages-bg-images h1{
    font-size: 20px !important;
   }
   .mobile_tabs{
    flex-direction: column !important;
    gap: 10px;
   }
   .mobile_tabs  input{
    width: 100% !important;
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
   }

   .mobile_tabs button{
    width: 100% !important;
    border-radius: 50rem !important;
    padding: 1rem !important;

   }
   .mobile_tabs select{
    width: 100% !important;
    border-radius: 50rem !important;
    padding: 1rem !important;
   }
   .mobile_tabs_button li{
    width: 50% !important;
   }
 
    .holiday-packages-swiper .duration .duration-days{
       
        width: 48% !important;
    }
    .holiday-packages-swiper .duration .duration-days small{
        font-size: 14px !important;
        font-weight: 500 !important;
    }
    .holiday-packages-swiper .duration .features {
        width: 31% !important;
    }
    .holiday-packages-swiper .duration .features i{
        padding-left: 8px;
    }
    .tripPlan .title-area .sec-title {
        font-size: 25px !important;
        font-weight: 600;
    }
    .tripPlan  .sec-text {
        font-size: 14px !important;
    }
    .box-title{
        font-size: 18px !important;
    }
    .about-item_text{
        font-size: 14px !important;
    }
    .about-item-wrap{
        margin-top: 25px !important;
    }
    .holiday-packages h3 {
        font-size: 20px !important;
        font-weight: 400 !important;
    }
    .holiday-packages-swiper .desc .sub-title {
        text-transform: uppercase;
        font-size: 14px !important;
        color: #909090 !important;
    }
    .holiday-packages-swiper .desc .title {
        color: black;
    }
    .holiday-packages-swiper .desc .price span:first-child {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}


.recommended::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-top: 7px solid #021432;
    border-right: 0px solid transparent;
    border-left: 8px solid transparent;
    z-index: 0;
}
.recommended {
    position: absolute;
    z-index: 5;
    left: -8px;
    top: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(#1c4789), to(#d42829));
    background-image: linear-gradient(to right, #1c4789, #d42829);
    width: 110px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.recommended {
    width: 150px;
}
.recommended.under-checkbox {
    top: 18px;
}


/* contact page css */
.contact-icon{

    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 108, 228, 0.1);
    border-radius: 50%;
    text-align: center;
    color: var(--bd-primary);
    font-size: 30px;
    transition: all 0.3s linear;
    justify-content: center;
    align-items: center;

 }

 .contact-desc ul{
    list-style: none;
 }

 .contact-desc ul li a{
    text-decoration: none;
    color: #16181abf;
 }



/* footer */
.footer{
    background-color: #101429;
    color: white;
    /* padding: 80px 0px 0px 40px; */
}
.footer .SocialList a{
    padding:10px 0px ;
    color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    background-color: orange;
}
.footer .SocialList i {
    font-size: 16px;
}
.footer .SocialList a:nth-child(1):hover{
    background-color: 	#1877F2;
}
.footer .SocialList a:nth-child(2):hover{
    background-color: 	#0077B5;
}
.footer .SocialList a:nth-child(3):hover{
    background-color: 	#FF0000;
}

.footer .SocialList a:nth-child(4):hover{
    background-color: #962fbf;
}
.footer .quick-links h5{
    font-size: 20px;
}
.footer .quick-links ul li{
    padding: 8px 0px;
}
.footer .quick-links ul  li a{
    text-decoration: none;
    color: white;
}
.footer  .address i{
    color: rgb(255, 190, 68);
    font-size: 16px;
    padding: 3px;

}


